@font-face {
  font-family: PoppinsRegular;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(../../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: LatoRegular;
  src: url(../../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../../fonts/Lato-Italic.ttf);
}