@font-face {
  font-family: PoppinsRegular;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(../../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: LatoRegular;
  src: url(../../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../../fonts/Lato-Italic.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

input:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

html {
  height: 100%;
}

body {
  color: #666666;
  font-family: PoppinsRegular;
  font-size: 14;
  margin: 0;
  height: 100%;
}
body.lock {
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  min-height: 60px;
  z-index: 1000;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-right: 60px;
  padding-left: 60px;
}
@media (max-width: 1200px) {
  .header__inner {
    padding-top: calc(10px + 26 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header__inner {
    padding-bottom: calc(10px + 26 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header__inner {
    padding-right: calc(20px + 40 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header__inner {
    padding-left: calc(20px + 40 * ((100vw - 320px) / 880));
  }
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 991.98px) {
  .header__navigation {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    background-color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.header__navbar {
  display: inherit;
  gap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .header__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__navbar--item {
  font-size: 16px;
  font-family: PoppinsBold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #99aade;
}
@media (max-width: 1200px) {
  .header__navbar--item {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .header__navbar--item:hover {
    color: #7492ec;
  }
}

.burger {
  position: relative;
  width: 40px;
  height: 25px;
}
@media (min-width: 991.98px) {
  .burger {
    display: none;
  }
}
.burger span {
  position: absolute;
  width: 40px;
  height: 2px;
  left: 0;
  background-color: #7492ec;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.burger span:nth-child(2) {
  top: 46%;
}
.burger span:first-child {
  top: 0;
}
.burger span:last-child {
  bottom: 0;
}

.burger.active span {
  width: 33px;
  left: 80%;
}
.burger.active span:nth-child(2) {
  height: 0;
}
.burger.active span:first-child {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger.active span:last-child {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main {
  background: url(../../img/background/main_bg.webp);
  background-size: cover;
}
@media (max-width: 991.98px) {
  .main {
    background-position: 40%;
  }
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  min-height: 980px;
}
.main__inner h1 {
  display: inline-block;
  text-align: right;
}
.main__item {
  font-size: 72px;
  font-family: PoppinsLight;
  color: #7492ec;
  text-shadow: 2px 2px 15px;
  padding: 0px 0px 30px 0px;
}
@media (max-width: 1200px) {
  .main__item {
    font-size: calc(48px + 24 * ((100vw - 320px) / 880));
  }
}
.main__item:first-child {
  padding: 0px 70px 30px 0px;
}
@media (max-width: 991.98px) {
  .main__item {
    color: #fff;
    text-shadow: 2px 2px 15px #333;
  }
}

.about {
  position: relative;
}
.about__bg {
  position: absolute;
  top: -20%;
  right: 0;
}
.about__bg img {
  background: none;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 105px 0px 120px 0px;
}
@media (max-width: 991.98px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 991.98px) {
  .about__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 570px;
            flex: 0 1 570px;
  }
}
.about__video--body {
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 0px 61.4035087719% 0px;
}
.about__video--title {
  font-size: 48px;
  font-family: PoppinsLight;
  padding: 0px 0px 20px 0px;
  color: #7492ec;
}
@media (max-width: 1200px) {
  .about__video--title {
    font-size: calc(32px + 16 * ((100vw - 320px) / 880));
  }
}
.about__video--subscription {
  font-size: 14px;
  font-family: PoppinsRegular;
  line-height: 170%;
  padding: 0px 0px 50px 0px;
}
@media (max-width: 1200px) {
  .about__video--subscription {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
.about__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 470px;
          flex: 0 1 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  margin: 50px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .about__items {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}
@media (min-width: 991.98px) {
  .about__items {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    margin: 0px 0px 0px 50px;
  }
}
.about__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 75px 1fr;
      grid-template: auto auto/75px 1fr;
}
.about__item--icon {
  text-align: center;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.about__item--title {
  font-size: 18px;
  font-family: PoppinsMedium;
  padding: 0px 0px 0px 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.about__item--text {
  font-size: 14px;
  line-height: 150%;
  font-family: LatoRegular;
  padding: 0px 0px 0px 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.classes {
  position: relative;
  background-color: #f1f3f8;
  background: url(../../img/background/classes_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.classes::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #e2e7f3 0%, #f1f3f8 100%);
}
.classes__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.classes__bg img {
  background: none;
}
.classes__inner {
  padding: 120px 0px;
}
.classes__title {
  color: #7492ec;
  padding: 0px 0px 80px 0px;
}
.classes__slider {
  position: relative;
}
.classes__slider--slide {
  border-radius: 10px;
  height: auto;
}
.classes__slider--title {
  font-size: 18px;
  font-family: PoppinsMedium;
  color: #7492ec;
  min-height: 90px;
  padding: 30px 0px 10px 0px;
  line-height: 120%;
}
.classes__slider--paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  padding: 0px 0px 14px 0px;
}
.classes__slider--paragraph img {
  width: 17px;
}
.classes__slider--img {
  padding: 0px 0px 74.0740740741% 0px;
}
.classes__slider--subscription {
  line-height: 150%;
}
.classes__slider--next {
  top: 21% !important;
  right: -50px !important;
}
.classes__slider--next::after {
  font-size: 15px !important;
  font-weight: 600 !important;
}
.classes__slider--prev {
  top: 21% !important;
  left: -50px !important;
}
.classes__slider--prev::after {
  font-size: 15px !important;
  font-weight: 600 !important;
}

.subscribe__inner {
  padding: 125px 0px 120px 0px;
}
.subscribe__trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 80px 0px;
}
.subscribe__trial--title {
  font-size: 32px;
  font-family: PoppinsLight;
  padding: 0px 0px 25px 0px;
  text-align: center;
}
.subscribe__trial--text {
  line-height: 140%;
  max-width: 445px;
  text-align: center;
  padding: 0px 0px 45px 0px;
  font-family: LatoRegular;
}
@media (min-width: 991.98px) {
  .subscribe__imgs {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
.subscribe__img {
  background: url(../../img/lazyLoading/loading.gif);
  background-size: cover;
  padding: 0px 0px 72.972972973% 0px;
}
@media (max-width: 991.98px) {
  .subscribe__img {
    margin: 0px 0px 20px 0px;
  }
}
.subscribe__img:nth-child(4) {
  padding: 0px 0px 35.0649350649% 0px;
}
@media (min-width: 991.98px) {
  .subscribe__img:nth-child(4) {
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

.preteachers {
  background: url(../../img/background/preteachers_bg.webp);
  background-position: center;
}
.preteachers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 0px 105px 0px;
  color: #fff;
}
.preteachers__info {
  max-width: 630px;
}
.preteachers__title {
  font-size: 32px;
  font-family: PoppinsLight;
  text-align: center;
  padding: 0px 0px 25px 0px;
}
.preteachers__text {
  font-size: 14px;
  font-family: LatoRegular;
  text-align: center;
  max-width: 600px;
  padding: 0px 0px 55px 0px;
  line-height: 200%;
}
.preteachers__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preteachers__slide--title {
  font-size: 14px;
  font-family: PoppinsMedium;
  padding: 0px 0px 29px 0px;
}
.preteachers__slide--btn {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 16px;
  -webkit-animation: btnMove 2s infinite;
          animation: btnMove 2s infinite;
}

.teachers__inner {
  padding: 120px 0px;
}
.teachers__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teachers__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 80px 1fr;
      grid-template: auto auto/80px 1fr;
}
.teachers__item--img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.teachers__item--title {
  font-size: 16px;
  font-family: PoppinsSemiBold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 0px 10px 15px;
  color: #000000;
}
.teachers__item--prof {
  font-size: 14px;
  font-family: LatoRegular;
  padding: 0px 0px 0px 15px;
  color: #999999;
}

.logos__inner {
  padding: 80px 0px;
}
.logos__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 80px;
}
.logos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
}

.challenge {
  background-color: #f8f7fc;
}
.challenge__inner {
  min-height: 680px;
}
@media (min-width: 991.98px) {
  .challenge__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.challenge__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  padding: 50px 0px 50px 0px;
}
@media (min-width: 991.98px) {
  .challenge__info {
    margin: 0px 0px 0px 80px;
  }
}
.challenge__title {
  font-size: 48px;
  font-family: PoppinsLight;
  color: #7492ec;
  margin: 0px 0px 30px 5px;
}
.challenge__text {
  font-size: 21px;
  font-family: LatoRegular;
  line-height: 150%;
  margin: 0px 0px 45px 0px;
  color: #7492ec;
}
.challenge__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 991.98px) {
  .challenge__img {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 991.98px) {
  .challenge__img img {
    position: absolute;
    bottom: 0;
  }
}
.challenge__btn {
  font-size: 12px;
}

@-webkit-keyframes btnMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes btnMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.footer__title {
  font-size: 14px;
  font-family: PoppinsSemiBold;
  color: #fff;
  padding: 0px 0px 25px 0px;
}
.footer__subscribe {
  background-color: #181818;
}
.footer__subscribe--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__subscribe--logo {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 265px;
          flex: 0 1 265px;
  padding: 22px 0px;
  border-right: 1px solid #333333;
}
@media (min-width: 991.98px) {
  .footer__subscribe--logo {
    display: block;
  }
}
.footer__subscribe--body {
  padding: 22px 15px 22px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 767.98px) {
  .footer__subscribe--body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 991.98px) {
  .footer__subscribe--body {
    padding: 0px 0px 0px 45px;
  }
}
.footer__subscribe--body--info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .footer__subscribe--body--info {
    margin: 0px 0px 20px 0px;
  }
}
.footer__subscribe--body--title {
  font-size: 16px;
  font-family: PoppinsBold;
  text-transform: uppercase;
}
.footer__subscribe--body--text {
  font-size: 13px;
  font-family: LatoItalic;
  color: #bbbbbb;
}
.footer__subscribe--input {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .footer__subscribe--input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 410px;
            flex: 0 1 410px;
  }
}
.footer__subscribe--input input {
  font-size: 13px;
  font-family: LatoRegular;
  padding: 17px;
  background-color: #333333;
  color: #fff;
  width: 80%;
}
.footer__subscribe--input--div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  background-color: #333333;
}
.footer__subscribe--btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.footer__body {
  background-color: #222222;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.footer__body--inner {
  padding: 60px 0px 45px 0px;
}
@media (min-width: 1365.98px) {
  .footer__body--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 80px;
  }
}
.footer__body--lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 1365.98px) {
  .footer__body--lists {
    max-width: 900px;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .footer__body--lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.footer__contact--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 0px 0px 30px 0px;
}
.footer__contact--list--item {
  line-height: 200%;
  font-size: 13px;
  font-family: LatoRegular;
  color: #bbbbbb;
}
.footer__contact--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.footer__contact--link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer__contact--link img {
  width: 20px;
}
@media (any-hover: hover) {
  .footer__contact--link:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.footer__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
}
.footer__links--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__links--item a {
  color: #bbbbbb;
  font-size: 13px;
  font-family: LatoRegular;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .footer__links--item a:hover {
    text-decoration: underline;
  }
}
.footer__timetable {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 230px;
          flex: 0 1 230px;
}
.footer__timetable--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
.footer__timetable--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bbbbbb;
  font-size: 13px;
  font-family: LatoRegular;
}
.footer__timetable--item i {
  font-size: 10px;
}
.footer__timetable--item--day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 130px;
          flex: 0 1 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 25px 0px 0px;
}
.footer__timetable--item--hour {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75px;
          flex: 0 1 75px;
}
.footer__location {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}
.footer__location--map {
  background: url(../../img/lazyLoading/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  width: 100%;
  height: 300px;
}
@media (min-width: 1365.98px) {
  .footer__location--map {
    height: 69.387755102%;
  }
}
.footer__location iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.footer__copyright {
  background-color: #181818;
}
.footer__copyright--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
}
@media (max-width: 991.98px) {
  .footer__copyright--inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__copyright--inner i {
  color: #85af4b;
}
.footer__copyright--author {
  font-size: 14px;
  font-family: PoppinsSemiBold;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer__copyright--author {
    font-size: calc(10px + 4 * ((100vw - 320px) / 880));
  }
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}
@media (max-width: 991.98px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav--item {
  font-size: 12px;
  font-family: PoppinsSemiBold;
  text-transform: uppercase;
  color: #999999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .footer__nav--item:hover {
    color: #fff;
  }
}

.twitter {
  background-color: #33ccff;
}

.facebook {
  background-color: #365493;
}

.googleplus {
  background-color: #d44132;
}

.pinterest {
  background-color: #cb2027;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.unhide {
  display: block !important;
}

.title {
  font-size: 48px;
  text-align: center;
  color: #7492ec;
}
@media (max-width: 1200px) {
  .title {
    font-size: calc(32px + 16 * ((100vw - 320px) / 880));
  }
}

.title__sec {
  font-size: 32px;
  text-align: center;
  color: #7492ec;
}
@media (max-width: 1200px) {
  .title__sec {
    font-size: calc(20px + 12 * ((100vw - 320px) / 880));
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: PoppinsBold;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-align: center;
  z-index: 1;
  color: #fff;
  background: #7492ec;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 1200px) {
  .btn {
    font-size: calc(13px + 1 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-top: calc(18px + -2 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-bottom: calc(18px + -2 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .btn:hover {
    background: #5e83f0;
  }
}

.fa-clock::before,
.fa-user::before,
.fa-level-up-alt::before {
  color: #7492ec;
}