.header{
    position: absolute;
    width: 100%;
    min-height: 60px;
    z-index: 1000;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiv-value('padding-top',36,10,1);
        @include adaptiv-value('padding-bottom',36,10,1);
        @include adaptiv-value('padding-right',60,20,1);
        @include adaptiv-value('padding-left',60,20,1);
    }

    &__navigation{
        display: flex;
        gap: 30px;
        padding: 0px 30px;
        @media(max-width: $md2+px){
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            height: 100vh;
            background-color: #fff;
            justify-content: center;
            transform: translateX(100%);
        }
        transition: all .3s ease;
    }

    &__navbar{
        display: inherit;
        gap: inherit;
        align-items: center;
        @media(max-width: $md2+px){
            flex-direction: column;
        }

        &--item{
            @include adaptiv-value('font-size',16,13,1);
            font-family: $font-family-PoppinsBold;
            transition: all .3s ease;
            color: #99aade;
            @media(any-hover:hover){ 
                &:hover{
                    color: $purpleColor;
                }
            }
        }
    }
}


.burger{
    @media(min-width: $md2+px){
        display: none;
    }
    position: relative;
    width: 40px;
    height: 25px;
    span{
        position: absolute;
        width: 40px;
        height: 2px;
        left: 0;
        background-color: $purpleColor;
        transition: all .3s ease;
        transform-origin: left;
        &:nth-child(2){
            top: 46%;
        }
        &:first-child{
            top: 0;
        }
        &:last-child{
            bottom: 0;
        }
    }
}

.burger.active{
    span{
        width: 33px;
        left: 80%;
        &:nth-child(2){
            height: 0;
        }
        &:first-child{
            top: 0;
            transform: rotate(45deg);
        }
        &:last-child{
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}

